[type='radio'] {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  max-width: 75rem;
  padding: 2.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.slider {
  overflow: hidden;
  border: 1px solid red;
}

.slider__inner {
  transition: all 0.3s;
  display: flex;
}

.slider__item {
  margin: 0;
  flex: 0 0 100%;
}

.item__img {
  max-width: 100%;
  height: auto;
  padding-bottom: 1rem;
}

.controls {
  display: flex;
}

label {
  padding: 0.5rem;
  border: 1px solid red;
  cursor: pointer;
}

label:hover > .btn {
  background-color: cadetblue;
}

.btn {
  width: 1.2rem;
  height: 1.2rem;
  background-color: blueviolet;
  pointer-events: fill;
  transition: background-color 0.3s;
  border-radius: 50%;
}

#slide1:checked ~ .controls > #btn1 > .btn,
#slide2:checked ~ .controls > #btn2 > .btn,
#slide3:checked ~ .controls > #btn3 > .btn,
#slide4:checked ~ .controls > #btn4 > .btn {
  background-color: transparent;
  border: 3px solid blueviolet;
}

#slide1:checked ~ .controls > #btn1:hover > .btn,
#slide2:checked ~ .controls > #btn2:hover > .btn,
#slide3:checked ~ .controls > #btn3:hover > .btn,
#slide4:checked ~ .controls > #btn4:hover > .btn {
  background-color: transparent;
  border: 3px solid cadetblue;
}

#slide1:checked ~ .slider__inner {
  transform: translateX(0);
}

#slide2:checked ~ .slider__inner {
  transform: translateX(-100%);
}

#slide3:checked ~ .slider__inner {
  transform: translateX(-200%);
}

#slide4:checked ~ .slider__inner {
  transform: translateX(-300%);
}
